:root{
    --one:#AF6DAC;
    --two:#863C95;
    --three:#BBB2D7;
    --four:#86A0D2;
    --five:#AAC5E7;
    --six:#C0E5E4;
}

/*All Text...*/
h1{
    font-weight: bolder;
    font-size: 40px;
    color: var(--two);
}

h2, h3, h4{
    font-weight: bolder;
    font-size: 30px;
    color: var(--one);
}

h5, h6{
    font-weight: lighter;
    font-size: 25px;
    color: var(--four);
}

p {
    font-weight: lighter;
    font-size: 20px;
    color: var(--two);
}
/*...in all .jsx files*/

/*Header.jsx*/
.header {
    background-color: var(--six);
    color: var(--two);
}

.navigation a {
    text-decoration: none;
    color: var(--two);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation a:hover {
    color: var(--four);
    background-color: var(--five);
}

/*Home.jsx*/
.welcome-section {
    background-color: var(--six);
    color: var(--two);
}

.featured-recipes-carousel h2, .latest-recipes h2, .categories-section h2 {
    color: var(--one);
}

.category-item {
    background-color: var(--three);
}

section {
    background-color: var(--three); 
}
/*LoginPage.jsx*/
.auth-form {
    border: 1px solid var(--five);
    background-image: url(../images/winterLogin.png);
    /*background-color: var(--three);*/
}

.auth-form input {
    border: 1px solid var(--five);
}

.auth-form button {
    background-color: var(--two);
    color: var(--six);
}

.auth-form button:hover {
    background-color: var(--one);
}

.auth-form a {
    color: var(--four);
}

/*SignUpPage.jsx*/
.auth-form {
    border: 1px solid var(--five);
    background-image: url(../images/winterSignup.png);
    /*background-color: var(--three);*/
}

.auth-form input {
    border: 1px solid var(--five);
}

.auth-form button {
    background-color: var(--two);
    color: var(--six);
}

.auth-form button:hover {
    background-color: var(--one);
}

.auth-form a {
    color: var(--four);
}

/*SearchRecipesPage.jsx*/
.search-bar input {
    border: 1px solid var(--five);
}

.search-bar button {
    background-color: var(--two);
    color: var(--six);
}

.search-bar button:hover {
    background-color: var(--one);
}

/*Footer.jsx*/
.footer {
    background-color: var(--six);
    color: var(--two);
}